<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles/style.css">
    <title>task Node  App</title>
</head>
<body>
    <div id="backGround-Neon1"></div>
    <div id="backGround-Neon2"></div>
    <div id="header">
        <h1>my<span class="neonGreenClr">B</span>logger</h1>
        <form action="/submit" method="post">
            <label for="fHeading">Task Heading</label>
            <input type="text" name="fHeading" id="fHeading"placeholder="Type Heading">
            <label for="writetask">Please Write Your Task Details Below</label>
            <textarea name="writetask" id="writetask" placeholder="Write Here"></textarea>
            <button type="submit">Create Task</button>
        </form>
        <p id="credits">Auther - Daud Ahmed</p>
    </div>
    <div id="rightSection">
    <% if(locals.taskPosts){  %>
        <% taskPosts.forEach((elem) => {  %>
     <div id="taskCard">
      <div>
        <h3><%= elem.taskHeading %></h3>
      <div>
        <button class="btns-DetPurple" ><i class="fa-solid fa-pen-to-square"></i></button>
        <button class="btns-DetRed" ><i class="fa-solid fa-trash"></i></button>
      </div>
      </div>
      <p><%= elem.taskPost %></p>
      <p id="dateRight"><%= elem.postDate %></p>
     </div>
    <% }) %>
     <% }else {  %>
        <p id="credits">No Task Available to Show</p>
        <% } %>
    </div>

    <script src="js/app.js"></script>
</body>
</html>